{% extends "base.html" %}
{% load i18n %}
{% load leading_zeros %}
{% block script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.computerlist').dataTable({
            "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            "sPaginationType": "bootstrap",
            "bStateSave": true,
            "aaSorting": [[0,'asc']]
        });
    } );
</script>

{% endblock %}

{% block nav %}
{% if perms.namer.add_computer %}
<li><a href="{% url 'new_computer' group.id %}">New Computer</a></li>
{% endif %}
<li><a href="{% url 'show_network' group.id %}">Networks</a></li>
{% if perms.namer.change_computergroup %}
<li><a href="{% url 'edit_computer_group' group.id %}">Edit Group</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h3>{{ group.name }}</h3>
        Key: <code>{{ group.key }}</code>
    </div>
</div>
<div class="row">
  <div class="span12">
<table class='computerlist table table-striped table-condensed'>
    <thead>
        <tr>
          <th>Computer Name</th>
          <th>Serial</th>
          <th>Last Seen</th>
        </tr>
        </tr>
    </thead>
    <tbody>
        {% for computer in group.computer_set.all %}
        <tr>
            <td>
                {% if group.prefix %}
                {% if perms.namer.change_computer %}
                <a href="{% url 'edit_computer' computer.id %}">{{group.prefix}} {{ computer.name|leading_zeros:length }}</a>
                {% else %}
                {{group.prefix}} {{ computer.name|leading_zeros:length }}
                {% endif %}
                {% else %}
                {% if perms.namer.change_computer %}
                <a href="{% url 'edit_computer' computer.id %}">{{ computer.name }}</a>
                {% else %}
                {{ computer.name }}
                {% endif %}
                {% endif %}
            </td>

            <td>{{ computer.serial }}</td>
            <td>{{ computer.last_checkin }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
